@font-face {
    font-family: "Inconsolata";
    src: url("https://ggayane.github.io/css-experiments/Inconsolata-VF.ttf");
    font-weight: 100 900;
    font-stretch: 50% 200%;
  }

body {
    height: 100%;
    color: #FFFFFF;
    font-size: 8em;
    font-family: 'Inconsolata';
  }
  
.cursor {
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    background-color: #f44336;
    position: absolute;
    border-radius: 5px;
  }
  
.cursor__follower {
    transition: transform .4s;
    width: 6px;
    height: 6px;
  }

  
.vidyut {
    width: 50px;
    height: 50px;
  }
  
.cisai {
    width: 90px;
  }
  
  
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    background-color: #2d2b2b;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 999;
    width: 100vw;
  }
  
.first-logo {
    display: flex;
    gap: 25px;
    align-items: center;
    flex-grow: 2;
  }
  
.second-logo {
    flex-grow: 3.3;
  }
  
html {
    text-decoration: none;
    background-color: #2d2b2b;
  }
  
.typewriter h1 {
    color: #fff;
    font-family: 'Waiting for the Sunrise', cursive;
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap;
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: red }
  }
  
section {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #ffff;
    height: 100vh;
  }
  
.first {
    cursor: none;
  }
  
h1 {
    font-size: 70px;
  }
  
h2 {
    font-family: monospace;
    font-size: 50px;
  }
  
span, p {
    font-size: 20px;
  }

#wrapper {
    color: rgb(255,255,255);
    height: 200px;
    margin-inline: 2em;
    border: solid 2px rgb(255,255,255);
    border-radius: 0.3em;
    padding: 0.6em;
    position: relative;

}

#work {
    font-size: 0.2em;
    font-weight:900;
}

#life {
    font-size: 0.2em;
    font-weight:100;
}

#balance {
   font-size: 0.6em;
   line-height: 0.3em;
   font-weight: 400;
}

.main {
  display: flex;
  width: 100%;
}

#color-sliders {
  font-size: 2rem;
  padding: 3rem;
  background: #646462;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  margin: 0 0 2rem 0;
  box-shadow: 0 0 0.5rem rgba(29, 29, 29, 0.5);
}

#red-slider {
  background-color: rgb(232, 44, 44);
  /* appearance: none; */
  height: 7px;
  margin: 10px 0;
  border-radius: 0.5rem;
}

/* .value{
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  margin: 0 0 0 0;
  margin-bottom: 5px;
}

.snowflake {
  color: #fff;
  font-size: 0.2em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
  position: absolute;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}

.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}

.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, .5s;
  animation-delay: 6s, .5s;
}

.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}

.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}

.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}

.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}

.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
}

.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}

.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
} */