body {
  height: 100%;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 20px;
}

.cursor {
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  background-color: #f44336;
  position: absolute;
  border-radius: 5px;
}

.cursor__follower {
  transition: transform 0.4s;
  width: 6px;
  height: 6px;
}

.vidyut {
  width: 50px;
  height: 50px;
}

.cisai {
  width: 90px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  background-color: #2d2b2b;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 999;
  width: -webkit-fill-available;
}

.first-logo {
  display: flex;
  gap: 25px;
  align-items: center;
  flex-grow: 2;
}

.second-logo {
  flex-grow: 3.3;
}

html {
  text-decoration: none;
  background-color: #2d2b2b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.typewriter h1 {
  color: #fff;
  font-family: "Waiting for the Sunrise", cursive;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: red;
  }
}

section {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #ffff;
  height: 100vh;
}

.first {
  cursor: none;
}

h1 {
  font-size: 70px;
}

h2 {
  font-family: monospace;
  font-size: 50px;
}

span,
p {
  font-size: 20px;
}
:root{
  --primary-color:#949494;
  --secondary-color:#212121;
  
}
.darktheme{
  --primary-color:#000000;
  --secondary-color:#212121;
}
.lighttheme{
--primary-color:#949494;
--secondary-color:#212121;
  
}
.calculator {
  width: 350px;
  height: 320px;
  background-color: var(--primary-color);
  box-shadow: 0px 0px 0px 10px #666;
  border: 5px solid black;
  border-radius: 10px;
}
#display {
  background-color: #99a883;
  width: 320x;
  height: 40px;
  text-align: right;
  font-size: 18px;
  left: 2px;
  top: 2px;
  margin-left: 20px;
  border-radius: 3px;
  box-shadow: 0 5px 20px .05px #130f0a inset,
        5px 0 10px -4px #130f0a inset,
        -0.5px 0 3px 1px #130f0a inset,
        0 0 0 2px rgba(0,0,0,1),
        0 65px 50px -10px rgba(0,0,0,-0.05);
  
}
.btnTop {
  color: white;
  background-color: #3500c7;
  font-size: 14px;
  margin: auto;
  width: 50px;
  height: 25px;
  border-radius: 1px;
  box-shadow: 3px 3px 3px 0 #271a10 inset,
  3px 5px 3px -5px #aeaeae inset,
  3px 3px 0 1px #855600 inset,
  0 0 0px 3px rgba(0,0,0,4),
  3px 3px 4px 3px rgba(0,0,0,4),
  0 0 50px -10px rgba(0,0,0,-0.05);
}
.btnNum {
  color: white;
  background-color: black;
  font-size: 14px;
  margin: auto;
  width: 50px;
  height: 25px;
  border-radius: 1px;
  box-shadow: 3px 3px 3px 0 #102027 inset,
  3px 5px 3px -5px #aeaeae inset,
  3px 3px 0 1px #102027 inset,
  0 0 0px 3px rgba(0,0,0,4),
  3px 3px 4px 3px rgba(0,0,0,4),
  0 0 50px -10px rgba(0,0,0,-0.05);
}
.btnMath {
  color: white;
  background-color: #333;

  font-size: 14px;
  margin: auto;
  width: 50px;
  height: 25px;
  border-radius: 1px;
  box-shadow: 3px 3px 3px 0 #102027 inset,
  3px 5px 3px -5px #aeaeae inset,
  3px 3px 0 1px #102027 inset,
  0 0 0px 3px rgba(0,0,0,4),
  3px 3px 4px 3px rgba(0,0,0,4),
  0 0 50px -10px rgba(0,0,0,-0.05);
}
.btnOpps {
  color: rgb(0, 0, 0);
  background-color: #d84315;


  font-size: 14px;
  
  margin: auto;
  width: 50px;
  height: 25px;
  border-radius: 1px;
  box-shadow: 3px 3px 3px 0 #b91400 inset,
  3px 5px 3px -5px #aeaeae inset,
  3px 3px 0 1px #b91400 inset,
  0 0 0px 3px rgba(0,0,0,4),
  3px 3px 4px 3px rgba(0,0,0,4),
  0 0 50px -10px rgba(0,0,0,-0.05);
}

.wrap {
  position: relative;
  top: 100px;
  margin: 0px  0px 0px;
  right: 350px;

}

.themeSwitchButton{
  padding: 10px 10px;
  cursor : pointer;
  background : transparent;
  margin-top: 10px;
  border: none;
  outline: none;
  position: relative;
  top: 185px;
  right: -162px;
  
}
.toggle-base{
  padding: 10px 10px;
  cursor : pointer;
  background : transparent;
  margin-top: 10px;
  
  border: 0;
  outline: none;
  position: relative;
  top: 75px;
  right: -172px;
}
.toggle-rad{
  padding: 10px 10px;
  cursor : pointer;
  background : transparent;
  margin-top: 15px;
  margin-left: 40px;
  border: 0;
  outline: none;
  position: relative;
  top: -35px;
  right: -135px;
}

#theme{
  top : 190px;
  left: 145px;
  position: absolute;
  width: 115px;
  height: 30%;
  background-color: rgba(255, 0, 0, 0.333);
  border-radius: 5px;
  transition: .5s;

}
#base{
  top : 127px;
  left: 145px;
  position: absolute;
  width: 115px;
  height: 30%;
  background-color: rgba(255, 0, 0, 0.333);
  border-radius: 5px;
  transition: .5s;

}
#rad{
  top : 66px;
  left: 145px;
  position: absolute;
  width: 115px;
  height: 30%;
  background-color: rgba(255, 0, 0, 0.333);
  border-radius: 5px;
  transition: .5s;
}
/*Todo: write css for .themeSwitchButton:hover*/

/*Todo: postion the wrapper for the buttons to position them on the left side of the calculator*/


.dark {
  background-color: #2d2b2b;
}

.darkBtnTop {
  background-color: #6a6969;
  color: #dad7d7;
}

.darkBtnNum {
  background-color: #2d2b2b;
  color: #dad7d7;
}

.darkBtnColorGeneric {
  color: #f1f0f0;
}

.log {
  background-color: #675555;
}
