@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

* {
	box-sizing: border-box;
}

body {
	background: #EFEFBB;
	background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
	background: linear-gradient(to right, #D4D3DD, #EFEFBB);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Lato';
	margin: 0;
}

h1 {
	letter-spacing: 3px;
}

.poke-container {
	display: grid;
	/* flex-wrap: wrap; */
	align-items: space-between;
	justify-content: center;
	margin: 0 auto;
	max-width: 1600px;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 20px;

}

.pokemon {
	background-color: #eee;
	border-radius: 20px;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
	margin: 10px;
	padding: 20px;
	text-align: center;
}

.pokemon .img-container {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	text-align: center;
}

.pokemon .img-container img {
	margin-top: 20px;
	max-width: 90%;
}

.pokemon .info {
	margin-top: 20px;
}

.pokemon .number {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	font-size: 0.8em;
	padding: 5px 10px;
}

.pokemon .name {
	margin: 15px 0 7px;
	letter-spacing: 1px;
}

.floating-btn {
	border-radius: 10px;
	background-color: #001F61;
	border: 1px solid #001F61;
	box-shadow: 0 16px 22px -17px #03153B;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.floating-btn:hover {
	background-color: #ffffff;
	color: #001F61;
}

.floating-btn:focus {
	outline: none;
}

.floating-text {
	background-color: #001F61;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.floating-text a {
	color: #FF7500;
	text-decoration: none;
}

@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}

.header-sec{
    background-color: yellow;
    width: 100%;
    position: fixed;
    top: 0;
}

.safe{
  padding: 60px;
}

.content-sec{
  padding: 50px;
}


.serch {
  background: #f2f2f2;
  box-shadow: 4px 4px 16px rgba(255, 255, 0, 0.2);
  border-radius: 40px;
  width: 80%;
  padding: 3.5px 31px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.serch__input {
  width: 100%;
}

.serch__input--style {
  width: 100%;
  padding: 17px 31px;
  outline: none;
  border: none;
  background-color: #f2f2f2;
}

.serch__btn {
  border: none;
  outline: none;
}

.top-sec{
	padding: 13px;
	margin-left: -120%;
	text-decoration: none;
	color: #f2f2f2;
}
.top-sec:hover{
	color: #03153B;
}
.floating-btn{
	width: 3%;
}

.drop-div{
	position: absolute;
	margin-left: 1%;
	margin-top: 0.8%;
}

.drop-sec{
	border-radius: 20px;
	padding: 6px;
}
